{{#section 'head'}}
    <link href="/vendor/jquery.dataTables.min.css" rel="stylesheet">
    <style>
        table.dataTable tbody tr {
            background-color: #323232;
        }

        .title {
            padding-left: 25%;
            color: ghostwhite;
        }

        header {
            background-color: lightseagreen;
        }

        .right-button {
            padding-top: 50%;
        }

        .details {
            padding-top: 1%;
            background-color: #a7dbd8;
            padding-bottom: 15%;
        }

        .info {
            color: green;
        }

        .error {
            color: red;
        }

        .leftSide {

        }

        .list {
            padding-top: 2%;
            color: white;
        }

        #scheduleJobs, #pendingJobs {
            border: 1px solid #eee;
            width: 100%;
            min-height: 20px;
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            float: left;
            margin-right: 10px;
        }

        #scheduleJobs li, #pendingJobs li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 100%;
            background: bottom;
            background-color: slategrey;
        }

        span label {
            padding-left: 2%;
            width: 25%;
        }

        #scheduleJobs li a {
            width: 50%;
        }

        #scheduleJobs li label, #pendingJobs li label {
            width: 25%;
        }
        #activeJobs tbody tr{
            background-color: green;
        }
        #activeJobs tbody tr td input{
            background-color: green;
        }
    </style>
{{/section}}
<!--<span id="text">{{{__ "text to test"}}}</span>-->
<!--<br>-->
<!--<span id="onecat">{{{__n "%d cat" "%d cats" 1}}}</span>-->
<!--<br>-->
<!--<span id="twocats">{{{__n "%d cat" "%d cats" 2}}}</span>-->

<div class="container main">
    <div class="row">
        <div class="col-lg-12">
            <!--Navigation-->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">FLCos</a>
                    </div>

                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">{{{__ "Home"}}}</a></li>
                            {{> menus}}

                        </ul>
                        {{#if user}}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/logout"><span
                                        class="glyphicon glyphicon-log-out"></span> {{{__ "Logout"}}}</a></li>
                                <li><a href="/profile"><span
                                        class="glyphicon glyphicon-user"></span>
                                    {{#if user.displayName}}
                                        {{user.displayName}}
                                    {{else}}
                                        {{user.userName}}
                                    {{/if}}
                                </a></li>
                            </ul>
                        {{else}}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/signup"><span
                                        class="glyphicon glyphicon-registration-mark"></span>{{{__ "Sign Up"}}}</a></li>
                                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> {{{__ "Login"}}}
                                </a></li>
                            </ul>
                        {{/if}}

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row row-md-height">
        <div class="col-lg-8">
            <!--showing message-->
            <div class="form-group">
                <label class="col-md-1 control-label">{{{__ "ErrorList"}}}</label>
                <select class="col-md-11 has-error" name="ErrorList" id="errors">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <!--tools buttons-->
            <div class="btn-group pull-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">{{{__ "Reset"}}}</button>
                <button type="button" class="btn btn-primary">{{{__ "Continue"}}}</button>
                <button type="button" class="btn btn-danger">{{{__ "Stop"}}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        {{> navigations}}
    </div>
</div>

<!--jobList dialog-->
<div id="jobListDialog" class="container main">

    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <fieldset>
                    <legend class="title">{{{__ "Informations: "}}}</legend>
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <br>
                        <br>
                        <ul id="jobsInfos" class="info">

                        </ul>
                    </div>
                </fieldset>
            </div>

            <div class="row">
                <fieldset>
                    <legend class="title">{{{__ "Errors"}}}</legend>
                    <div class="col-lg-12">

                        <br>
                        <br>
                        <ul id="jobsErrors" class="error">

                        </ul>
                    </div>
                </fieldset>
            </div>

        </div>
        <div class="col-lg-6">
            <table id="jobListTable" class="table table-bordered table-hover">
                <caption>{{{__ "Job Management"}}}</caption>
                <thead>
                <tr>
                    <th>{{{__ "Ident"}}}</th>
                    <th>{{{__ "LineIdent"}}}</th>
                    <th>{{{__ "State"}}}</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    <th>{{{__ "Ident"}}}</th>
                    <th>{{{__ "LineIdent"}}}</th>
                    <th>{{{__ "State"}}}</th>
                </tr>
                </tfoot>
                <!--<tr ng-repeat="job in jobs">-->
                <!--<td>-->
                <!--<input type="checkbox" ng-model="job.selected"/>-->
                <!--</td>-->
                <!--<td><a href="/job/jobDetail/:{[{job.id}]}">{[{job.ident}]}</a></td>-->
                <!--<td>{[{job.lineIdent}]}</td>-->
                <!--<td>{[{job.displayState}]}</td>-->
                <!--</tr>-->
            </table>
        </div>
        <div class="col-lg-3">

            <button id="newJob" class="btn btn-primary">{{{__ "New"}}}</button>
            <button id='deleteJob' class="btn btn-danger">{{{__ "Delete"}}}</button>
        </div>
    </div>
</div>

<!--jobDetail dialog-->
<div id="jobDetailDialog" class="container main">
    <!--<input id="job" type="text" class="hidden" value="{{job}}"/>-->
    <!--<input id="lineId" type="text" class="hidden" value="{{job.LineId}}"/>-->
    <input type="text" class="hidden" id="recipe" value="{{recipe}}"/>
    <header class="row">
        <div class="col-lg-3">
            <label id="error"></label>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-8">
                <h2 class="title">{{{__ "Job Detail"}}}</h2>
            </div>
            <!--<div class="col-lg-3 list">-->
            <!--<a href="/job/jobList/:{{job.lineIdent}}" class="list">{{{__ "Job List"}}}</a>-->
            <!--</div>-->
        </div>

    </header>
    <div class="row">
        <div class="col-lg-3 leftSide">
            <div class="row">
                <fieldset>
                    <legend class="title">{{{__ "Informations: "}}}</legend>
                    <div class="col-lg-12">

                        <br>
                        <br>
                        <ul id="jobInfos" class="info">

                        </ul>
                    </div>
                </fieldset>

            </div>

            <div class="row">
                <fieldset>
                    <legend class="title">{{{__ "Errors"}}}</legend>
                    <div class="col-lg-12">

                        <br>
                        <br>
                        <ul id="jobErrors" class="error">

                        </ul>
                    </div>
                </fieldset>

            </div>

        </div>
        <div class="col-lg-6 details">
            <form class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "Ident"}}}</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="jobIdent" name="ident" disabled
                               value="{{job.ident}}"/>
                        <input type="text" class="form-control hidden" id="jobId" name="id"
                               value="{{job.id}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "Line Ident"}}}</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="lineIdent" name="lineIdent" disabled
                               value="{{job.lineIdent}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "State"}}}</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="displayJobState" name="state" disabled
                               value="{{job.displayState}}"/>
                        <input type="text" class="form-control hidden" id="jobState" name="state"
                               value="{{job.state}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "Locked"}}}</label>
                    <div class="col-md-4">
                        <label><input type="checkbox" value="{{job.locked}}" id="locked" name="locked"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "Product"}}}</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control hidden" id="productIdent" name="productIdent"
                               value="{{job.productIdent}}"/>
                        <input type="text" class="form-control" id="productName" name="productName"
                               value="{{job.productName}}" disabled
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "TargetWeight"}}}</label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" id="targetWeight" name="targetWeight" step="any"
                               value="{{job.targetWeight}}"/>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "ActualWeight"}}}</label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" id="actualWeight" name="ActualWeight" step="any"
                               disabled
                               value="{{job.actualWeight}}"/>
                    </div>

                </div>
                <div class="form-group">

                    <label class="col-md-2 control-label">{{{__ "Sender"}}}</label>
                    <div class="col-md-4">
                        <select class="col-md-6" name="senderStorage" id="senderStorages">
                            <option></option>
                        </select>
                        <input type="text" class="col-md-6 form-control" id="sender" disabled
                        />
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{{__ "Receiver"}}}</label>
                    <div class="col-md-4">
                        <select class="col-md-6" name="receiverStorages" id="receiverStorages">
                            <option></option>
                        </select>
                        <input type="text" class="col-lg-6 col-md-6 form-control" id="receiver" disabled
                        />
                    </div>
                </div>
                <div class="form-group">
                    <button id='save' type="submit" class="btn btn-primary">{{{__ "save"}}}</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3">
            <div class="btn-group right-button" role="group" aria-label="Basic example">
                <button id="checkJob" class="btn btn-primary">{{{__ "check Job"}}}</button>
                <button id="startJob" class="btn btn-danger">{{{__ "Start Job"}}}</button>
                <button id="doneJob" class="btn btn-danger">{{{__ "Done Job"}}}</button>
            </div>
        </div>
    </div>
</div>

<!--jobQueue dialog-->
<div id="jobQueueDialog" class="container main">
    <header class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <h2 class="title">{{{__ "Job Queue"}}}</h2>
        </div>
        <div class="col-lg-3">

        </div>
    </header>
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <fieldset>
                    <legend class="title">{{{__ "Informations: "}}}</legend>
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <br>
                        <br>
                        <ul id="jobQueueInfos" class="info">

                        </ul>
                    </div>
                </fieldset>
            </div>

            <div class="row">
                <fieldset>
                    <legend class="title">{{{__ "Errors"}}}</legend>
                    <div class="col-lg-12">

                        <br>
                        <br>
                        <ul id="jobQueueErrors" class="error">

                        </ul>
                    </div>
                </fieldset>
            </div>

        </div>
        <div class="col-lg-6 details">
            <div class="row">
                <div class="col-lg-12">
                    <table id="activeJobs" class="table table-bordered table-hover">
                        <caption>{{{__ "Active Job"}}}</caption>
                        <thead>
                        <tr>
                            <th>{{{__ "Ident"}}}</th>
                            <th>{{{__ "LineIdent"}}}</th>
                            <th>{{{__ "State"}}}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th>{{{__ "Ident"}}}</th>
                            <th>{{{__ "LineIdent"}}}</th>
                            <th>{{{__ "State"}}}</th>
                        </tr>
                        </tfoot>
                        <!--<tr ng-repeat="job in jobs">-->
                        <!--<td>-->
                        <!--<input type="checkbox" ng-model="job.selected"/>-->
                        <!--</td>-->
                        <!--<td><a href="/job/jobDetail/:{[{job.id}]}">{[{job.ident}]}</a></td>-->
                        <!--<td>{[{job.lineIdent}]}</td>-->
                        <!--<td>{[{job.displayState}]}</td>-->
                        <!--</tr>-->
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label class="">{{{__ "Scheduled Jobs"}}}</label>
                    <br>
                    <span>
                        <label>{{{__ "Ident"}}}</label>
                        <label>{{{__ "State"}}}</label>
                        <label>{{{__ "Receiver"}}}</label>
                    </span>

                    <ul id="scheduleJobs" class="connectedSortable">
                    </ul>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label class="">{{{__ "Pending Jobs"}}}</label>
                    <br>
                    <span>
                        <label>{{{__ "Ident"}}}</label>
                        <label>{{{__ "State"}}}</label>
                        <label>{{{__ "Receiver"}}}</label>
                    </span>
                    <ul id="pendingJobs" class="connectedSortable">
                    </ul>
                </div>

            </div>


        </div>
        <div class="col-lg-3">
            <div class="btn-group right-button" role="group" aria-label="Basic example">
                <button id="jobQueueCheckJob" class="btn btn-primary">{{{__ "check Job"}}}</button>
                <button id="jobQueueStartJob" class="btn btn-danger">{{{__ "Start Job"}}}</button>
                <button id="jobQueueDoneJob" class="btn btn-danger">{{{__ "Done Job"}}}</button>
            </div>
        </div>
    </div>
</div>
{{#section 'jquery'}}
    <script src="/js/gcsState.js"></script>
    <script src="/js/main.js"></script>
    <script src="/vendor/jquery.dataTables.min.js"></script>
{{/section}}